{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}
{% form_theme form _self %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle annonce</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block _ad_images_widget %}
    <p>Ici, vous pouvez ajouter vos propres images !</p>
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0"> 
    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>
{% endblock %}

{# Bricole pour contrer l'affichage des index des champs images #}
{% block _ad_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{# Customisation des champs images #}
{% block _ad_images_entry_widget %}
    <div class="form-group" id="block_{{ id }}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.caption) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{ id }}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{# Rajout manuel des bon index aux bons champs images #}
{% block javascripts %}
    <script>
        // On récupère l'action du click sur l'id add-image qui correspond à notre bouton "Ajouter une image"
        $('#add-image').click(function(){
            const index = +$('#widgets-counter').val();
            // En se servant du prototype de formulaire généré via symfony grâce au "'allow_add' => true" dans le CollectionType du formulaire AdType
            // On récupère le template du prototype, et on remplace, dans l'attibut id, la valeur "_name_" par l'index grâce à une regex
            const template = $('#ad_images').data('prototype').replace(/__name__/g, index);
            // On ajoute ce template dans le nouveau formulaire d'ajoute d'image à afficher
            $('#ad_images').append(template);
            $('#widgets-counter').val(index + 1);
            handleDeleteButtons();
        })

        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            })
        }
        handleDeleteButtons();
    </script>
{% endblock %}